<div class="panel panel-default">
  <header>
    <%= profile_link(post.user) %>
    posted <%= post_time_tag(post) %>:
  </header>

  <div class="panel-body"><%= post_body_with_links(post) %></div>
  
  <footer>
    <%= like_button(post) %>
    <tt><%= post.likes_count %></tt>
  </footer>
</div>