<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to 'microblog', root_path %></h1>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <nav>
      <% if user_signed_in? %>
        You are logged in as <%= link_to "@#{current_user.username}", user_path(current_user) %>.
        <%= link_to '(Sign out)', destroy_user_session_path, method: :delete %>.
      <% else %>
        Why not
        <%= link_to 'log in', new_user_session_path %> or
        <%= link_to 'sign up', new_user_registration_path %>.
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
